.article {
    max-width: 830px;
    margin: 92px 0 0 0;
    padding-left: calc((100% - 984px) / 2);
    display: flex;
    flex-direction: column;
    align-self: start;
}

.article__title {
    margin: 0;
    align-self: start;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

.article__subtitle {
    margin: 32px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.article__autor {
    margin: 10px 0 0 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    align-self: end;
}

.article__text {
    margin: 32px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
    justify-self: end;
}


@media screen and (max-width:1024px) {
    .article {
        margin-top: 90px;
        padding: 0 24px 0 24px;
        align-self: center  ;
    }

    .article__title {
        font-size: 45px;
        line-height: 49px;
        font-weight: 900;
}

    .article__subtitle {
        margin: 50px 0 0 0;
    }

    .article__autor {
        margin: 0px;
    }
}

@media screen and (max-width:544px) {
    .article {
        margin-top: 64px;
        padding: 0 16px 0 16px;
    }

    .article__title {
        font-size: 32px;
        line-height: 35px;
    }

    .article__subtitle {
        font-size: 24px;
        line-height: 30px; 
    }

    .article__autor {
        font-size: 24px;
        line-height: 30px; 
    }
}