.countries {
   max-width: 987px;
   margin: 92px 0 0 0;
   justify-self: center;
   display:grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(4, 1fr);

}

.countries__item {
   list-style-type: none;
   display:grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 40px;
}

.countries__title {
   font-size: 72px;
   line-height: 76px;
   font-weight: 900;
   margin: 0 0 48px 0;
}

.countries__author {
   margin: 0;
}

.countries__author-span {
   display: block;
   margin: 85px 0 8px 0;
   font-weight: 400;
   font-size: 12px;
   line-height: 100%;
   font-family: Inter;
   line-height: 100%;
   letter-spacing: 12%;
   text-transform: uppercase;
   color: #AAAAAA;
}



.countries__img {
   grid-row-start: 2;
   grid-row-end: 4;
   width: 100%;
}

.countries__description {
   margin: 0;
   grid-row-start: 2;
   grid-row-end: 4;
   grid-column: 2/3;

}

.countries__description-span {
   display: block;
   margin: 25px 0 0 0;
}
